workflows/P02/Práctica02_4.3.json
{
  "name": "Práctica02_4.3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1b1194dc-6e06-4849-8df3-18aadf625818",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://date.nager.at/api/v3/PublicHolidays/2025/ES",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "9218aa76-82ab-4773-9062-777494d9df8e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "date",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "c052d9a0-6d41-4f2d-8b9a-69c6747a23cc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a0b1528d-0e81-486a-92f3-dd870f69cccb",
              "leftValue": "={{ $json.global }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "e1fd5d63-dcbd-42f5-a932-8b6e5f40597d",
      "name": "If"
    },
    {
      "parameters": {
        "url": "https://bored.api.lewagon.com/api/activity/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        -96
      ],
      "id": "2479ff29-3d7f-4fb8-9b7e-e10d74ee5e32",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf793e22-6ea5-42a0-9d13-c41810e82e3e",
              "name": "Actividades para festivos nacionales",
              "value": "=On {{ $('If').item.json.name }} i will \n{{ $json.activity }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -96
      ],
      "id": "53825030-4063-46c5-a402-c3dc26da93b8",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6940c2d-7af8-4247-bed7-a87308e36be8",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "DWF4A4ZRLQX3HbnR",
  "tags": []
}