workflows/P02/Práctica02_Guiado.json
{
  "name": "Práctica02_Guiado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "552bef99-efba-485c-ac58-d554efeba685",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming?type=single&amount=5",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "ae9c0746-9fd7-4a78-af4c-4aa94e1bcf46",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jokes",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "2f738aca-ea2e-43dc-87aa-34fb622317e3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f976cc91-ea33-4e93-85d6-1f6317dec417",
              "leftValue": "={{ $json.jokes.safe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "dfff8e00-aba6-4825-9329-641cad5b61b5",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28f26aa9-84c8-45d3-b149-19da94a7822c",
              "name": "clasificación",
              "value": "Chiste NO seguro",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        96
      ],
      "id": "b1d9723d-8827-43bc-a3f9-45830e8ca1fa",
      "name": "Display No seguro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "165475fe-f640-4ffd-80ef-b5db48ff0a1f",
              "name": "clasificación",
              "value": "Chiste seguro",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -96
      ],
      "id": "a1ee94b6-58ef-4e45-90b5-da6c7b5a6191",
      "name": "Display seguro"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Display seguro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Display No seguro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c918b022-5328-4fca-b9a9-ea2de86259ac",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "KQdUA4ZGLgiEfAhR",
  "tags": []
}