workflows/P02/Práctica02_4.2.json
{
  "name": "Pr치ctica02_4.2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0ea037ec-65d3-41f4-83fe-a970e8ce2e03",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "6db62622-ab56-4ee7-8ef7-3f41594eab49",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "36f04d0e-d020-4400-b460-f3d026c7d7b2",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "12e4c544-f96c-48c7-8b9d-f3592aa81a40",
              "leftValue": "={{ $json.price }}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "1759782d-899f-4cc8-90d8-f200e163e263",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b351db3-89e9-4c30-b46c-0eae80a8934e",
              "name": "Tipo",
              "value": "Producto Premium",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -80
      ],
      "id": "38e98acb-bae8-4b2e-bbd2-978258b3f804",
      "name": "Productos caros"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fd9e29f2-7907-412a-b2f4-194f414d23a3",
              "name": "Tipo",
              "value": "Producto Est치ndar",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        64
      ],
      "id": "b2f8b17f-08a0-4be6-a805-eb582de109fc",
      "name": "Productos econ칩micos"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Productos caros",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Productos econ칩micos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3739c59-fc67-432a-bef1-c3aeb367aa05",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "U36jZq4e9w3qaRNa",
  "tags": []
}