workflows/P03/Practica03_Guiado_3.3.json
{
  "name": "Practica03_Guiado_3.3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c1623a35-28bf-4485-909e-5f6ae21f7156",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming,Misc,Dark?type=single&amount=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "853288b8-44b3-4589-a522-95824047d014",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jokes",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "a23f95d7-e8c6-45dc-a795-83c35c4fad6a",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.jokes.category }}",
                    "rightValue": "Programming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "88a40cdb-30dd-469d-8e3e-530f06b7b6cd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "68bbc5f3-4446-4bf8-bc75-2d6fa6a3e420",
                    "leftValue": "={{ $json.jokes.category }}",
                    "rightValue": "Misc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fec527ae-9d4e-4e99-94c7-1b7c47377d67",
                    "leftValue": "={{ $json.jokes.category }}",
                    "rightValue": "Dark",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        624,
        -16
      ],
      "id": "49483ea3-05df-4fa9-ba60-73b0e2deee0d",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE",
          "mode": "list",
          "cachedResultName": "Clasificación de Chistes n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 644661725,
          "mode": "list",
          "cachedResultName": "Misc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE/edit#gid=644661725"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.jokes.id }}",
            "Chiste": "={{ $json.jokes.joke }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        16
      ],
      "id": "cdbd687b-132a-42a0-bfa7-93737f86a767",
      "name": "Misc sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8guXYcY0d5pQ5JAA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE",
          "mode": "list",
          "cachedResultName": "Clasificación de Chistes n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Programming",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chiste": "={{ $json.jokes.joke }}",
            "ID": "={{ $json.jokes.id }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -128
      ],
      "id": "329f12d1-40fe-480e-8787-54ed863bd28d",
      "name": "Programming sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8guXYcY0d5pQ5JAA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE",
          "mode": "list",
          "cachedResultName": "Clasificación de Chistes n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 323647032,
          "mode": "list",
          "cachedResultName": "Dark",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Cx4gN8PQWN8ReEqymwoL-3EKCxfNNG-RhmhhjJX0YBE/edit#gid=323647032"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chiste": "={{ $json.jokes.joke }}",
            "ID": "={{ $json.jokes.id }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        192
      ],
      "id": "8b4672d4-a746-42c4-8398-edaf8688c207",
      "name": "Dark sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8guXYcY0d5pQ5JAA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        16
      ],
      "id": "028ad818-6951-4e14-82be-5f3dfe769191",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Programming sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dark sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Misc sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Programming sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dark sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "07644047-ee7d-4c8d-97d5-499a9e115a68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "OTHMSKJmHHFEeFo5",
  "tags": []
}