workflows/P01/Práctica01.json
{
  "name": "Práctica01",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "584cff8e-a144-40f8-96c2-a05a3e86c64c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming?type=single",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ],
      "id": "e89f967c-38d0-43c9-9984-24a80ce69f01",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "897f2d9c-3d88-4f5d-bae5-fb7fdebea280",
              "name": "broma",
              "value": "={{ $json.joke }}",
              "type": "string"
            },
            {
              "id": "a6680665-cc8d-4c74-a7cc-8d1f18cc5b78",
              "name": "categoria",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "491fd227-90f7-4ffa-90e8-85ce7364c1bd",
              "name": "identificador",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "77d6d917-5717-4287-9169-ebd82b9c89eb",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9801f77-9f50-44df-9143-151e202c492c",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "tLzwXpdjogT2Wm1f",
  "tags": []
}