workflows/P06/Practica06_4.1.json
{
  "name": "Practica06_4.1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "57cb17a0-1094-43cb-8549-c62c803a460d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38d573c7-21ec-4522-bdbe-3c726230eb98",
              "name": "id_a_borrar",
              "value": "1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "043772b8-d8b4-43e7-a345-dd5e8a772117",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "=id",
              "value": "={{ $json.id_a_borrar }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "a5cc3ee1-1ecb-4964-952e-cac0b55f3f99",
      "name": "Delete table or rows",
      "credentials": {
        "postgres": {
          "id": "UGgULuWCWJwpkRDy",
          "name": "PostgreSQL (Tasks)"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "a8debd8b-db03-46c6-aaa5-6f95f02404b5",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "UGgULuWCWJwpkRDy",
          "name": "PostgreSQL (Tasks)"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Delete table or rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete table or rows": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1365a955-3e10-4e80-8e7b-3e0a393f9371",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "23V1qo6swGI9ItJ6",
  "tags": []
}