workflows/P04/Practica04_4.2.json
{
  "name": "Practica04_4.2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3d48df38-6ac3-4c87-a4fc-7c11e5061120",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://fakestoreapi.com/products/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "dd964c24-867b-4962-8e28-897367ac3ebb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zXvUT5V7ygWySA1L",
          "mode": "list",
          "cachedResultUrl": "/workflow/zXvUT5V7ygWySA1L",
          "cachedResultName": "Sub-flujo: Validador de Productos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "081c2080-582d-4abd-9eb4-cc462c147ab7",
      "name": "Call 'Sub-flujo: Validador de Productos'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a106d4a9-8282-4d30-aa89-03b17d1bd42c",
              "name": "=title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "a97f45e6-a0a8-4676-9bd7-e690bef80e9b",
      "name": "Conservar solo titulo"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Conservar solo titulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conservar solo titulo": {
      "main": [
        [
          {
            "node": "Call 'Sub-flujo: Validador de Productos'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5f4defd-68cb-419d-b46d-cd19ac155cf3",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "CnZJ86UTQO90JqoJ",
  "tags": []
}