workflows/P04/Practica04_4.3.json
{
  "name": "Practica04_4.3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "af6b30ac-0235-4b41-ad9d-0531dcb01bd8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "195734d6-787a-41d0-b790-6e2402a27f1d",
              "name": "tarea",
              "value": "festivos",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "356ed545-58a4-462b-8786-ef104c0ec7c0",
      "name": "tipo tarea"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tarea }}",
                    "rightValue": "actividad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c9c0ce6c-925d-4a2b-a72f-7a695655382f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9622c41-4080-4db0-bee0-01f798f7d6a2",
                    "leftValue": "={{ $json.tarea }}",
                    "rightValue": "festivos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        0
      ],
      "id": "3fb093bc-edbf-4ba1-9f57-048e4a2aee03",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ebeCW8fhJwVlUKag",
          "mode": "list",
          "cachedResultUrl": "/workflow/ebeCW8fhJwVlUKag",
          "cachedResultName": "Sub-flujo: Obtener Actividad"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "actividad"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        -96
      ],
      "id": "ca3329c6-d16a-4b47-a7b7-f256512f37ea",
      "name": "Obtener actividad"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pGlUEwW1VR2hyEtd",
          "mode": "list",
          "cachedResultUrl": "/workflow/pGlUEwW1VR2hyEtd",
          "cachedResultName": "Sub-flujo: Obtener Festivos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        96
      ],
      "id": "8792ce6b-8de6-45de-aca5-fa84abba69a1",
      "name": "Obtener festivo"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        0
      ],
      "id": "c3db6425-447d-4569-8241-80bb94c100b7",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e8ec882-d482-4bb0-b1c7-96dc683c781e",
              "name": "Tarea",
              "value": "={{ $json.tarea }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        0
      ],
      "id": "fa268fff-7e57-4899-b3e6-121be109ae9c",
      "name": "Display actividad"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "tipo tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tipo tarea": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Obtener actividad",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener festivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener actividad": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener festivo": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Display actividad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7b91098b-eede-47b6-a8b7-f92cfc891bda",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "o2ieM40TMsVIeflZ",
  "tags": []
}