workflows/P04/Procesador Principal de Imágenes.json
{
  "name": "Procesador Principal de Imágenes",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "8a1ec9dc-4469-4262-a682-944f847f4fa5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "249d8dd4-ec87-4b2f-9d29-e4ab7cad10e1",
              "name": "imageUrls",
              "value": "[   {\"imageUrl\": \"https://random.dog/woof.json\"},   {\"imageUrl\": \"https://randomfox.ca/floof/\"},   {\"imageUrl\": \"https://esta-url-no-existe.xyz/imagen.jpg\"} ]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "244b2df6-e1ea-4fd7-9079-143eaeed68a7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "imageUrls",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "446f73b6-2467-4ec5-89c1-859442bc4610",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rZ9pVhKxKZB6Rc7P",
          "mode": "list",
          "cachedResultUrl": "/workflow/rZ9pVhKxKZB6Rc7P",
          "cachedResultName": "Sub-flujo: Descargador de Imágenes"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "imageUrl": "={{ $json.imageUrls.imageUrl }}"
          },
          "matchingColumns": [
            "imageUrl"
          ],
          "schema": [
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        624,
        0
      ],
      "id": "7ad4ff1b-d878-4e47-b221-776a3d887eab",
      "name": "Call 'Sub-flujo: Descargador de Imágenes'"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Call 'Sub-flujo: Descargador de Imágenes'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "WgldYPMjzai762Ef"
  },
  "versionId": "9f9e85b5-a486-4022-9490-8c150f16db69",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "qjym4ejGfXh2JU9y",
  "tags": []
}