workflows/P04/Sub-flujo_ Obtener Festivos.json
{
  "name": "Sub-flujo: Obtener Festivos",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bb9fc628-ca06-492c-ad18-5caa284c2664",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://date.nager.at/api/v3/PublicHolidays/2025/ES",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "ed87b126-f76d-4024-be5d-e36a1e6a3879",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "280cb96e-94a8-4e13-b5ed-52732d2d14f5",
              "name": "tarea",
              "value": "={{ $json.localName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "06aeb4ba-4e07-49f5-a3ad-bc6cc54bbfa1",
      "name": "Format tarea"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46fb50d9-d4de-4c83-8d1d-5f8511a8decb",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "pGlUEwW1VR2hyEtd",
  "tags": []
}