workflows/P04/Sub-flujo_ Obtener Actividad.json
{
  "name": "Sub-flujo: Obtener Actividad",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "762c87c5-34f7-41b6-bf57-f6a58b136f8a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "https://bored-api.appbrewery.com/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "60776399-a4f3-4336-b848-20aabaad0b24",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "280cb96e-94a8-4e13-b5ed-52732d2d14f5",
              "name": "tarea",
              "value": "={{ $json.activity }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "ad3076be-4b32-4702-b89b-2f8b9d8e6695",
      "name": "Format tarea"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Format tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdc48b16-fcf1-4195-872d-a3240e026bab",
  "meta": {
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "ebeCW8fhJwVlUKag",
  "tags": []
}