workflows/P08/Practica08_4.1.json
{
  "name": "Practica08_4.1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f3742d84-3280-4602-a2e6-b7f4e8de3207",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        16
      ],
      "id": "424ebf21-8b2d-4855-8399-e2771eebdd92",
      "name": "Webhook",
      "webhookId": "f3742d84-3280-4602-a2e6-b7f4e8de3207"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "task",
          "mode": "list",
          "cachedResultName": "task"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "done": false,
            "title": "={{ $json.body.title }}",
            "description": "={{ $json.body.description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "done",
              "displayName": "done",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -64
      ],
      "id": "cbaa9fc9-bc74-4696-8651-7d90c4112286",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "Osu5WtVpvBQ40H8y",
          "name": "PostgreSQL (Tasks) P08"
        }
      }
    },
    {
      "parameters": {
        "queue": "task_created",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        624,
        -64
      ],
      "id": "97584ea6-12a8-4225-8fe3-8a51c7f52d94",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "j4h7M3rNTFw6Y3mW",
          "name": "RabbitMQ (Tasks) P08"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"id\": {{ $('Insert rows in a table').item.json.id }},\n  \"title\": {{ $('Insert rows in a table').item.json.title }},\n  \"description\": {{ $('Insert rows in a table').item.json.description }},\n  \"done\": {{ $('Insert rows in a table').item.json.done }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        832,
        -64
      ],
      "id": "39481d7b-d0dd-40ae-9768-9557e0f60ee0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c233dbf3-350a-4e43-a7b4-489a23c6dd2f",
              "leftValue": "={{ $json.body.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3e719bb4-cdc2-4450-918c-6aec1abd272a",
              "leftValue": "={{ $json.body.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        16
      ],
      "id": "dad6c22a-2f8d-4e57-8d99-52b3b53e637e",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "400 Bad Request"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        112
      ],
      "id": "fa752f9d-72b5-4388-be90-3b82d2e457fe",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e440c5d-3d8f-4f01-8a1c-b40fb9a1025d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "luNVpFwmUaAHdEOK",
  "tags": []
}