workflows/P08/Practica08_Guiado.json
{
  "name": "Practica08_Guiado",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c9349dcd-6eda-46ac-a656-42d70cc544dc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming,Misc,Dark?type=single&amount=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "499f44d6-c5e1-46ee-8575-900e591d497d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "jokes",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "2cab9a78-4e6e-427a-b9a0-b73f73eb2fc5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.jokes.category }}",
                    "rightValue": "Programming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "88a40cdb-30dd-469d-8e3e-530f06b7b6cd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "68bbc5f3-4446-4bf8-bc75-2d6fa6a3e420",
                    "leftValue": "={{ $json.jokes.category }}",
                    "rightValue": "Misc",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fec527ae-9d4e-4e99-94c7-1b7c47377d67",
                    "leftValue": "={{ $json.jokes.category }}",
                    "rightValue": "Dark",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        624,
        -16
      ],
      "id": "0ab808f9-4289-4c17-9b9e-8b2895127d12",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHEET_ID_CHISTES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $env.SHEET_NAME_MISC }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.jokes.id }}",
            "Chiste": "={{ $json.jokes.joke }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "5110676f-4a21-478c-8478-706f413c3fe8",
      "name": "Misc sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8guXYcY0d5pQ5JAA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHEET_ID_CHISTES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.SHEET_NAME_PROG }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chiste": "={{ $json.jokes.joke }}",
            "ID": "={{ $json.jokes.id }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -144
      ],
      "id": "a87fb8d5-2517-45f0-86ce-46ffda085668",
      "name": "Programming sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8guXYcY0d5pQ5JAA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SHEET_ID_CHISTES }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $env.SHEET_NAME_DARK }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Chiste": "={{ $json.jokes.joke }}",
            "ID": "={{ $json.jokes.id }}",
            "Fecha de Procesamiento": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Chiste",
              "displayName": "Chiste",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha de Procesamiento",
              "displayName": "Fecha de Procesamiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        160
      ],
      "id": "726a5a08-3421-4081-b8e8-601faced1c9f",
      "name": "Dark sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8guXYcY0d5pQ5JAA",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -16
      ],
      "id": "1d6adbb1-fc93-482a-b91e-d16e6a239233",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Programming sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Misc sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dark sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Misc sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Programming sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dark sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "101d1717-6f6d-429f-9445-08fcc9402174",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61dbf6bdf21963d602fbd0e62dc34c112538fe386afb9f70310e0416a1cdf6d5"
  },
  "id": "NuU6gODjOrwlnpGL",
  "tags": []
}